// Template_34.tmpl
#include <iostream>
#include <stdlib.h>
#include <cmath>
#include <cstdio>
using namespace std;

{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}
{{fid_3:FUNCTION_DEFINITION}}
{{fid_4:FUNCTION_DEFINITION_PARAM}}


int main()
{
    {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

    {{fid_3:FUNCTION_CALL}}
    {{fid_4:FUNCTION_CALL}}
int base = 7;
    struct Local {
        int factor;
        int apply(int x) const { return x * factor; }
    };

    Local l{3};

    auto lambda = [base, l](int x) {
        return l.apply(x + base);
    };

    int res = 0;
    for (int i = 0; i < 5; ++i) {
        res = res * 5 + lambda(i);
    }
    std::cout << res;
    return 0;

}