// Template_30.tmpl
#include <iostream>
#include <stdlib.h>
#include <cstdio>
#include <type_traits>

using namespace std;

template<typename... Ts>
struct SizeSum;

template<>
struct SizeSum<> {
    static const std::size_t value = 0;
};

template<typename T, typename... Ts>
struct SizeSum<T, Ts...> {
    static const std::size_t value = sizeof(T) + SizeSum<Ts...>::value;
};

struct A { char c; int x; };
struct B { double d; short s; };


{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}
{{fid_3:FUNCTION_DEFINITION}}
{{fid_4:FUNCTION_DEFINITION_PARAM}}


int main()
{
    {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

    {{fid_3:FUNCTION_CALL}}
    {{fid_4:FUNCTION_CALL}}
    std::size_t s = SizeSum<int, A, B, char>::value;
    std::cout << static_cast<unsigned long long>(s);
    
    return 0;
}