// Template_2.tmpl
#include <iostream>
#include <stdio.h>
#include <cstdio>
using namespace std;

{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}
{{fid_3:FUNCTION_DEFINITION}}

int main() {
    {{fid_2:FUNCTION_CALL}}
    {{fid_3:FUNCTION_CALL}}

        int x = 42;
    const char *msg = "hello";

    std::printf("%d%d%d%s%c\n", x, x, x, msg, '!');

    std::printf("custom spec: %h$up ", x);

    std::printf("percent=%%%% x=%d msg=%s end\n", x, msg);

    return 0;
}
