// Template_8.tmpl
#include <iostream>
#include <stdio.h>
#include <cstdio>

using namespace std;

// Handler for %s
void putstring(const char *s) {
    fputs(s, stdout);
}


int main(void) {
        int v = 123;

    std::printf("printf v=%d\n", v);

    std::fprintf(stdout, "fprintf stdout v=%d\n", v);
    std::fprintf(stderr, "fprintf stderr %s %d\n", "value", v);

        {{dwhl_1:DO_WHILE_LOOP}}

                {{arr_1:ARRAY}}
        {{arr_2:ARRAY}}
        {{arr_3:ARRAY}}
        {{arr_4:ARRAY}}
    return 0;
}