// Template_5.tmpl
#include <stdio.h>
#include <iostream>
#include <cstdarg>
#include <cstdio>
#include <string>
using namespace std;


int main() {

        {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

        {{arr_1:ARRAY}}
        {{arr_2:ARRAY}}
        {{arr_3:ARRAY}}
        {{arr_4:ARRAY}}
    {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}


    {{mid_1:MATH_EXPRESSION}}
    return 0;
}
