// Template_13.tmpl
#include<iostream>
#include <cstdio>
using namespace std;



int main() {


    {{var_1:VAR_DECLARATION}}
    {{if_1:IF_STATEMENTS}}
    {{mid_1:MATH_EXPRESSION}}
    {{wlp_1:WHILE_LOOP}}
    {{pnt_1:PRINT_STATEMENT}}
    {{pnt_2:PRINT_STATEMENT}}
    {{pnt_3:PRINT_STATEMENT}}
    {{pnt_4:PRINT_STATEMENT}}
    {{var_2:VAR_DECLARATION}}

    return 0;
}