// Template_6.tmpl
#include <iostream>
#include <cstdio>
// Additional includes
{{INCLUDES}}

using namespace std;

// Function definitions
{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}

int main() {
    // Function calls
    {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}
    {{arr_1:ARRAY}}

    return 0;
}

