// Template_17.tmpl
// Triggers ICE
//https://gcc.gnu.org/bugzilla/show_bug.cgi?id=118388
  template<typename T>
  struct A {
    typedef int n;
    int f();
    struct B {};
    struct C : B {
      int g() {
        auto res=[&](){
        return f(); 
        }();
        return res;
    }
};
};

  template<> struct A<int>::B : A<int> {};
  A<int>::C::n n = A<int>::C().g();