// Template_20.tmpl
//Triggers ICE for Clang and gcc
//Combined Bugs
//https://github.com/llvm/llvm-project/issues/102106
//https://gcc.gnu.org/bugzilla/show_bug.cgi?id=92402
#include <iostream>
using namespace std;

struct A {
  A(...);
};

int a[1];

void  f() {
    decltype(({auto&& [x] = a; 0;})) b;
    (void)[]() -> decltype(({auto&& [x] = a; 0;})) { return 0; };
}

{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}
{{fid_3:FUNCTION_DEFINITION}}
{{fid_4:FUNCTION_DEFINITION_PARAM}}
int main() {

    volatile A a;
  volatile A a2(a);
    {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

    {{fid_3:FUNCTION_CALL}}
    {{fid_4:FUNCTION_CALL}}
  return 0;
}



