// Template_25.tmpl
//GCC ICE but crashes clang as well
//https://gcc.gnu.org/bugzilla/show_bug.cgi?id=107360
#include <iostream>
#include <stdlib.h>
using namespace std;

auto f(int n) {
    int (*a)[n] = 0;
    return a;
}

int g() {
    return sizeof *f(1);
}

{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}
{{fid_3:FUNCTION_DEFINITION}}
{{fid_4:FUNCTION_DEFINITION_PARAM}}

int main()
{
      {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

    {{fid_3:FUNCTION_CALL}}
    {{fid_4:FUNCTION_CALL}}

}

