// Template_2.tmpl
#include <iostream>
// Additional includes
{{INCLUDES}}

using namespace std;

// Function definitions
{{fid_1:FUNCTION_DEFINITION}}
{{fid_2:FUNCTION_DEFINITION}}

int main() {
    // Function calls
    {{arr_1:ARRAY}}
    {{fid_1:FUNCTION_CALL}}
    {{fid_2:FUNCTION_CALL}}
    {{var_1:VAR_DECLARATION}}
    {{IF_STATEMENTS}}

    return 0;
}

