// Template_67.tmpl
#include <iostream>
using namespace std;

{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}
{{fid_3:FUNCTION_DEFINITION}}


struct Bomb {
    ~Bomb() {
        std::cout << "Boom!\n";
        std::exit(77);  // Overrides main's return
    }
};

int main()
{
    {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

    {{fid_3:FUNCTION_CALL}}

    Bomb b;

    return 0;

}