// main_template.tmpl
#include <iostream>
// Additional includes

using namespace std;

// Function definitions
{{fid_1:FUNCTION_DEFINITION}}

int main() {
    // Function calls
    {{fid_1:FUNCTION_CALL}}


    return 0;
}

