// Template_31.tmpl
#include <iostream>
#include <stdlib.h>
using namespace std;

struct Foo { Foo(int) {} };

{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}
{{fid_3:FUNCTION_DEFINITION}}
{{fid_4:FUNCTION_DEFINITION_PARAM}}


int main()
{
    {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

    {{fid_3:FUNCTION_CALL}}
    {{fid_4:FUNCTION_CALL}}

    Foo f(Foo(1)); // Is this a variable or a function declaration?
    std::cout << "Compiled!\n";

}