// Template_1.tmpl
#include <iostream>
#include <type_traits>
// Additional includes
{{INCLUDES}}

using namespace std;
{{tmpl_1:TEMPLATE}}

template<int N>
struct Accum {
    static constexpr int value = N + Accum<N - 1>::value;
};

template<>
struct Accum<0> {
    static constexpr int value = 0;
};

template<int N, typename T>
struct Holder {
    using type = T;
    static constexpr int v = Accum<N>::value;
};

template<typename T>
constexpr int use_holder() {
    return Holder<16, T>::v;
}

// Function definitions
{{fid_1:FUNCTION_DEFINITION}}
{{fid_2:FUNCTION_DEFINITION}}

int main() {
    // Function calls
    {{fid_1:FUNCTION_CALL}}
    {{fid_2:FUNCTION_CALL}}
    {{var_1:VAR_DECLARATION}}
    {{IF_STATEMENTS}}
    {{flp_1:FOR_LOOP}}
    {{dwhl_1:DO_WHILE_LOOP}}

    static_assert(use_holder<int>() >= 0, "force instantiation");
    return use_holder<long>();

}

