/* Template_18.tmpl */
/* Clang Bug*/
/*https://github.com/llvm/llvm-project/issues/129873*/
#include <stdio.h>
#include <stdbool.h>
#include <string.h>

extern struct rq *__task_rq_lock(struct task_struct *p, struct rq_flags *rf)
    __attribute__((acquire_capability(
        (&(*({
          do {
          } while (0);
          ({
          });
        }))) -> __lock)));
extern struct rq *__task_rq_lock(struct task_struct *p, struct rq_flags *rf)
    __attribute__((acquire_capability(
        (&(*({
          do {
          } while (0);
          ({
          });
        }))) -> __lock)));

{{fid_1:FUNCTION_DEFINITION}}
{{fid_2:FUNCTION_DEFINITION_PARAM}}
int main() {
    {{fid_1:FUNCTION_CALL}}
    {{fid_2:FUNCTION_CALL}}
    {{pnt_1:PRINT_STATEMENT}}
        {{var_1:VAR_DECLARATION}}
    {{if_1:IF_STATEMENTS}}

    {{arr_1:ARRAY}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

    return 0;
}
