/* Template_4.tmpl */
#include <stdio.h>
#include <stdbool.h>

/* Function definitions */
{{fid_1:FUNCTION_DEFINITION}}
{{fid_2:FUNCTION_DEFINITION_PARAM}}

int main() {
    /* Function calls */
    {{fid_1:FUNCTION_CALL}}
    {{fid_2:FUNCTION_CALL}}
    {{pnt_1:PRINT_STATEMENT}}

    return 0;
}

