/* Template_32.tmpl */
#include <stdio.h>
#include <stdbool.h>
#include <string.h>
#include <math.h>

{{fid_1:FUNCTION_DEFINITION}}
{{fid_2:FUNCTION_DEFINITION}}
int main(void) {
    {{fid_1:FUNCTION_CALL}}
    {{fid_2:FUNCTION_CALL}}
    {{pnt_1:PRINT_STATEMENT}}

    char c = 200; // Implementation-defined: signed or unsigned char
    printf("%d\n", c);   

    return 0;
}
