/* Template_7.tmpl */
/* TRIGGERS ICES*/
#include <stdio.h>
#include <stdbool.h>
#include <limits.h>



{{fid_1:FUNCTION_DEFINITION}}
{{fid_2:FUNCTION_DEFINITION_PARAM}}
int main() {

    {{if_1:IF_STATEMENTS}}
    {{fid_2:FUNCTION_CALL}}
    {{fid_1:FUNCTION_CALL}}

    int large_array[1000000000];

    return 0;
}

