/* Template_17.tmpl */
/* TRIGGERS ICES*/
/*Looks to be a new bug*/
#define INFINITE_MACRO(x) INFINITE_MACRO(x)

{{fid_3:FUNCTION_DEFINITION}}
{{fid_4:FUNCTION_DEFINITION}}
int main() {
    int result = INFINITE_MACRO(1);

    {{fid_3:FUNCTION_CALL}}
    {{fid_4:FUNCTION_CALL}}
    {{if_1:IF_STATEMENTS}}
    {{mid_1:MATH_EXPRESSION}}
    {{wlp_1:WHILE_LOOP}}
    {{pnt_1:PRINT_STATEMENT}}
    {{pnt_2:PRINT_STATEMENT}}
    {{pnt_3:PRINT_STATEMENT}}


    return result;
}