/* Template_3.tmpl */
#include <stdio.h>
#include <stdbool.h>

{{fid_1:FUNCTION_DEFINITION_PARAM}}
{{fid_2:FUNCTION_DEFINITION_PARAM}}

int main() {
    /* Function call */
    {{fid_1:FUNCTION_CALL}}
    {{fid_2:FUNCTION_CALL}}
    {{wlp_1:WHILE_LOOP}}
    return 0;
}
