// Template_15.tmpl
#include <iostream>
#include <cstdio>
#include <stdio.h>

using namespace std;


//Placeholders
{{fid_1:FUNCTION_DEFINITION}}
{{fid_2:FUNCTION_DEFINITION_PARAM}}


int main(int, char**)
{

const char *fmt = "Dynamic %d\n";
printf(fmt, 42);   // non-constant format → should be ignored
printf((1 ? "A %d" : "B %d"), 1);  // expression tree with nested STRING_CST

  //Placeholders
  {{fid_1:FUNCTION_CALL}}
  {{fid_2:FUNCTION_CALL}}
  {{var_1:VAR_DECLARATION}}
  {{if_1:IF_STATEMENTS}}
  {{mid_1:MATH_EXPRESSION}}
  {{wlp_1:WHILE_LOOP}}
  {{pnt_1:PRINT_STATEMENT}}
  {{pnt_2:PRINT_STATEMENT}}

  return 0;
}