// Template_9.tmpl
#include <iostream>
#include <stdio.h>

using namespace std;

// Handler for %d
void putint(int i) {
    printf("%d", i);
}

int main(void) {
    printf("Hello %s %d %c\n", "world", 42, '!');
        {{wlp_1:WHILE_LOOP}}
    return 0;
}