// Template_8.tmpl
#include <iostream>
#include <stdio.h>

using namespace std;

// Handler for %s
void putstring(const char *s) {
    fputs(s, stdout);
}


int main(void) {
    printf("Hello %s %d %c\n", "world", 42, '!');
        {{dwhl_1:DO_WHILE_LOOP}}
    return 0;
}