// Template_1.tmpl
#include <iostream>
#include <stdio.h>
using namespace std;

int main() {
    {{var_1:VAR_DECLARATION}}
    printf("Start\n");
    printf("Mix: %s %d %c %%\n", "mix", -42, 'Z');
    printf("End\n");
    return 0;
}
