// Template_14.tmpl
#include <iostream>
#include <vector>
#include <numeric>
#include <cstdio>
#include <stdio.h>

using namespace std;

{{fid_2:FUNCTION_DEFINITION_RECURSIVE}}
{{fid_3:FUNCTION_DEFINITION}}
{{fid_4:FUNCTION_DEFINITION_PARAM}}

int main()
{

printf("A");               // short, but no 'c' → uses 's'
printf("Some string");     // longer, also uses 's'

        {{fid_2:FUNCTION_CALL}}
    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}

    {{fid_3:FUNCTION_CALL}}
    {{fid_4:FUNCTION_CALL}}
    {{var_1:VAR_DECLARATION}}
    {{if_1:IF_STATEMENTS}}
    {{mid_1:MATH_EXPRESSION}}
    {{wlp_1:WHILE_LOOP}}
    {{pnt_1:PRINT_STATEMENT}}

}