// Template_4.tmpl
#include <stdio.h>
#include <iostream>
using namespace std;

int main() {
    printf("Float: %f\n", 3.14);
    printf("Hex: %x\n", 255);
    printf("Pointer: %p\n", (void*)0x1234);
    printf("Scientific: %e\n", 123.456);

    {{flp_1:FOR_LOOP}}

    return 0;
}
