// Template_12.tmpl
#include <iostream>
#include <cstdio>
#include <stdio.h>
using namespace std;


int main() {
    printf("X");    // single-char literal, no specifiers

    {{dwhl_1:DO_WHILE_LOOP}}
    {{flp_1:FOR_LOOP}}
    {{arr_1:ARRAY}}
    return 0;
}