#include <iostream>
using namespace std;

{{fid_1,reverseArray:FUNCTION_DEFINITION}}

int main() {
    {{var_1,arr:VAR_DECLARATION}}
    {{var_3,size:VAR_DECLARATION}}

    {{prnt_1:PRINT_STATEMENT}}

    {{loop_1:FOR_LOOP}}

    {{prnt_1:PRINT_STATEMENT_ENDLINE}}

    {{fid_1,reverseArray:FUNCTION_CALL@p1[[ref#var1]],p2[[ref#var2]]}}

    {{prnt_1:PRINT_STATEMENT}}
    {{loop_2:FOR_LOOP}}
    {{prnt_1:PRINT_STATEMENT_ENDLINE}}

    return 0;
}