#include <iostream>
using namespace std;

{{fid_1,checkEvenOdd:FUNCTION_DEFINITION}}

int main() {
    {{var_1,number:VAR_DECLARATION}}

    {{prnt_1:PRINT_STATEMENT}}
    {{input_1:INPUT_STATEMENT}}

    {{var_2,result:VAR_DECLARATION}}
    {{fid_1,checkEvenOdd:FUNCTION_CALL@p1[[ref#var1]]}}

    {{prnt_2:PRINT_STATEMENT}}
    {{prnt_1:PRINT_STATEMENT_ENDLINE}}

    return 0;
}