#include <iostream>
using namespace std;

{{fid_1,findMax:FUNCTION_DEFINITION}}

int main() {
    {{var_1,num1:VAR_DECLARATION}}
    {{var_2,num2:VAR_DECLARATION}}

    {{prnt_1:PRINT_STATEMENT}}
    {{input_1:INPUT_STATEMENT}}

    {{var_3,max:VAR_DECLARATION}}
    {{fid_1,findMax:FUNCTION_CALL@p1[[ref#var1]],p2[[ref#var2]]}}

    {{prnt_2:PRINT_STATEMENT}}
    {{prnt_1:PRINT_STATEMENT_ENDLINE}}

    return 0;
}