#include <iostream>
using namespace std;

{{fid_1,isPrime:FUNCTION_DEFINITION}}

int main() {
    {{var_1,number:VAR_DECLARATION}}

    {{prnt_1:PRINT_STATEMENT}}
    {{input_1:INPUT_STATEMENT}}

    {{IF_STATEMENTS}}

    return 0;
}